    {% block body %}
        <li><label>{{usuario.id}} -></label><b> Nombre:</b> {{ usuario.nombre }}
         <b> Apellidos:</b>  {{usuario.apellidos}} 
         <b> Edad:</b>  {{usuario.edad}} 
        <b> Telefono:</b> {{usuario.telefono}} <b> 
        Dinero:</b> {{usuario.dinero}} 
        </li>
{% endblock %}